@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Fortune Teller</h1>
    <p class="lead">An interactive fortune teller web application providing insight to your future!</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>@Html.ActionLink("Customers","Index","Customers")</h2>
        <p>
            Click customer to enter your personal information and enable your fortune reading.<br />
            Good Luck!
        </p>
        
    </div>
   
</div>